In [20]:
Data Analytics!!

Principle of Analytics

SyntaxError: invalid syntax (614022429.py, line 1)

Importing code , review them , clean if necessary

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Reading Data from

In [23]:
df=pd.read_csv('News_Final.csv')

In [24]:
df.head()

,IDLink,Title,Headline,Source,Topic,PublishDate,SentimentTitle,SentimentHeadline,Facebook,GooglePlus,LinkedIn
0,99248.0,Obama Lays Wreath at Arlington National Cemetery,Obama Lays Wreath at Arlington National Cemete...,USA TODAY,obama,2002-04-02 00:00:00,0.000000,-0.053300,-1,-1,-1
1,10423.0,A Look at the Health of the Chinese Economy,"Tim Haywood, investment director business-unit...",Bloomberg,economy,2008-09-20 00:00:00,0.208333,-0.156386,-1,-1,-1
2,18828.0,Nouriel Roubini: Global Economy Not Back to 2008,"Nouriel Roubini, NYU professor and chairman at...",Bloomberg,economy,2012-01-28 00:00:00,-0.425210,0.139754,-1,-1,-1
3,27788.0,Finland GDP Expands In Q4,Finland's economy expanded marginally in the t...,RTT News,economy,2015-03-01 00:06:00,0.000000,0.026064,-1,-1,-1
4,27789.0,"Tourism, govt spending buoys Thai economy in J...",Tourism and public spending continued to boost...,The Nation - Thailand&#39;s English news,economy,2015-03-01 00:11:00,0.000000,0.141084,-1,-1,-1

In [25]:
checking for null values

SyntaxError: invalid syntax (4260025534.py, line 1)

In [26]:
df.isnull().sum()

IDLink                 0
Title                  0
Headline              15
Source               279
Topic                  0
PublishDate            0
SentimentTitle         0
SentimentHeadline      0
Facebook               0
GooglePlus             0
LinkedIn               0
dtype: int64

In [27]:
df.dropna(inplace=True)
df.isnull().sum()

IDLink               0
Title                0
Headline             0
Source               0
Topic                0
PublishDate          0
SentimentTitle       0
SentimentHeadline    0
Facebook             0
GooglePlus           0
LinkedIn             0
dtype: int64

In [28]:
df.head()
df.shape

(92945, 11)

In [29]:
df.head()

,IDLink,Title,Headline,Source,Topic,PublishDate,SentimentTitle,SentimentHeadline,Facebook,GooglePlus,LinkedIn
0,99248.0,Obama Lays Wreath at Arlington National Cemetery,Obama Lays Wreath at Arlington National Cemete...,USA TODAY,obama,2002-04-02 00:00:00,0.000000,-0.053300,-1,-1,-1
1,10423.0,A Look at the Health of the Chinese Economy,"Tim Haywood, investment director business-unit...",Bloomberg,economy,2008-09-20 00:00:00,0.208333,-0.156386,-1,-1,-1
2,18828.0,Nouriel Roubini: Global Economy Not Back to 2008,"Nouriel Roubini, NYU professor and chairman at...",Bloomberg,economy,2012-01-28 00:00:00,-0.425210,0.139754,-1,-1,-1
3,27788.0,Finland GDP Expands In Q4,Finland's economy expanded marginally in the t...,RTT News,economy,2015-03-01 00:06:00,0.000000,0.026064,-1,-1,-1
4,27789.0,"Tourism, govt spending buoys Thai economy in J...",Tourism and public spending continued to boost...,The Nation - Thailand&#39;s English news,economy,2015-03-01 00:11:00,0.000000,0.141084,-1,-1,-1

Check for duplicate values

In [30]:
df.duplicated().sum()

np.int64(1)

In [31]:
# Remove duplicates
df.drop_duplicates(inplace=True)
df.duplicated().sum()

np.int64(0)

Filtering unique values in Topics

In [32]:
print(df['Topic'].unique())

['obama' 'economy' 'microsoft' 'palestine']

Identifying Outliers in the dataset

In [34]:
Q1 = df['SentimentHeadline'].quantile(0.25)
Q3 = df['SentimentHeadline'].quantile(0.75)
IQR = Q3 - Q1
df[(df['SentimentHeadline'] < Q1 - 1.5 * IQR) | (df['SentimentHeadline'] > Q3 + 1.5 * IQR)]
df[(df['SentimentHeadline'] < Q1 - 1.5 * IQR) | (df['SentimentHeadline'] > Q3 + 1.5 * IQR)].count()

IDLink               1955
Title                1955
Headline             1955
Source               1955
Topic                1955
PublishDate          1955
SentimentTitle       1955
SentimentHeadline    1955
Facebook             1955
GooglePlus           1955
LinkedIn             1955
dtype: int64

In [ ]:
Removing outliers usinf IQR method

In [35]:
# Calculate Q1, Q3, and IQR
Q1 = df['SentimentHeadline'].quantile(0.25)
Q3 = df['SentimentHeadline'].quantile(0.75)
IQR = Q3 - Q1

# Define bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filter out the outliers (keep only non-outliers)
df_clean = df[(df['SentimentHeadline'] >= lower_bound) & (df['SentimentHeadline'] <= upper_bound)]

# Optional: Replace original DataFrame
df = df_clean

# Show cleaned data
print(df)

         IDLink                                              Title  \
0       99248.0   Obama Lays Wreath at Arlington National Cemetery
1       10423.0        A Look at the Health of the Chinese Economy
2       18828.0   Nouriel Roubini: Global Economy Not Back to 2008
3       27788.0                          Finland GDP Expands In Q4
4       27789.0  Tourism, govt spending buoys Thai economy in J...
...         ...                                                ...
93234   61851.0  Stocks rise as investors key in on US economy ...
93235   61865.0  Russian PM proposes to use conservative and to...
93236  104793.0  Palestinian Government Uses Foreign Aid To Pay...
93237  104794.0  Palestine Youth Orchestra prepares for first U...
93238   61870.0  Sausalito businesswoman wins $10000 in Microso...

                                                Headline  \
0      Obama Lays Wreath at Arlington National Cemete...
1      Tim Haywood, investment director business-unit...
2      Nouriel Roubini, NYU professor and chairman at...
3      Finland's economy expanded marginally in the t...
4      Tourism and public spending continued to boost...
...                                                  ...
93234  The June employment report is viewed as a cruc...
93235  In addition, establish stimulating economic po...
93236  The Palestinian government spends nearly $140 ...
93237  Palestine Youth Orchestra prepares for first U...
93238  Goldstein, the proprietor of the TG Travel Gro...

                                         Source      Topic  \
0                                     USA TODAY      obama
1                                     Bloomberg    economy
2                                     Bloomberg    economy
3                                      RTT News    economy
4      The Nation - Thailand&#39;s English news    economy
...                                         ...        ...
93234                               MarketWatch    economy
93235                                      TASS    economy
93236                              Daily Caller  palestine
93237                              Ahram Online  palestine
93238                            East Bay Times  microsoft

               PublishDate  SentimentTitle  SentimentHeadline  Facebook  \
0      2002-04-02 00:00:00        0.000000          -0.053300        -1
1      2008-09-20 00:00:00        0.208333          -0.156386        -1
2      2012-01-28 00:00:00       -0.425210           0.139754        -1
3      2015-03-01 00:06:00        0.000000           0.026064        -1
4      2015-03-01 00:11:00        0.000000           0.141084        -1
...                    ...             ...                ...       ...
93234  2016-07-07 15:31:05        0.104284           0.044943        -1
93235  2016-07-07 15:31:10        0.072194           0.000000        -1
93236  2016-07-07 15:38:26        0.291667          -0.139754         5
93237  2016-07-07 15:59:22        0.121534           0.092313         0
93238  2016-07-07 16:16:11        0.000000           0.054554        -1

       GooglePlus  LinkedIn
0              -1        -1
1              -1        -1
2              -1        -1
3              -1        -1
4              -1        -1
...           ...       ...
93234           3         5
93235           0         1
93236           1         0
93237           0         0
93238           1         0

[90989 rows x 11 columns]

In [36]:
df.head()

,IDLink,Title,Headline,Source,Topic,PublishDate,SentimentTitle,SentimentHeadline,Facebook,GooglePlus,LinkedIn
0,99248.0,Obama Lays Wreath at Arlington National Cemetery,Obama Lays Wreath at Arlington National Cemete...,USA TODAY,obama,2002-04-02 00:00:00,0.000000,-0.053300,-1,-1,-1
1,10423.0,A Look at the Health of the Chinese Economy,"Tim Haywood, investment director business-unit...",Bloomberg,economy,2008-09-20 00:00:00,0.208333,-0.156386,-1,-1,-1
2,18828.0,Nouriel Roubini: Global Economy Not Back to 2008,"Nouriel Roubini, NYU professor and chairman at...",Bloomberg,economy,2012-01-28 00:00:00,-0.425210,0.139754,-1,-1,-1
3,27788.0,Finland GDP Expands In Q4,Finland's economy expanded marginally in the t...,RTT News,economy,2015-03-01 00:06:00,0.000000,0.026064,-1,-1,-1
4,27789.0,"Tourism, govt spending buoys Thai economy in J...",Tourism and public spending continued to boost...,The Nation - Thailand&#39;s English news,economy,2015-03-01 00:11:00,0.000000,0.141084,-1,-1,-1

In [37]:
df.shape

(90989, 11)